<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <!--<add name="DBConnect" connectionString="data source = (LocalDb)\MSSQLLocalDB; initial catalog = IoTdatabase; integrated security = True"/>-->
    <!--<add name="DBConnect" connectionString="Server=tcp:sysg-sql.database.windows.net,1433;Initial Catalog=iotdb;Persist Security Info=False;User ID=sqluser;Password=Password@1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->

  </connectionStrings>
</configuration>